.idea/
/build/
/cz/
/de/
/gr/
/pl/
/ro/
/uk/
/whole-screenshots-backup/
/site/index.html
*.css
*.css.map
/stav-mobilniho-webu/.idea/
/stav-mobilniho-webu/build/
/*.jpg
/*.png
/*.csv
/topdomains-*.txt
*.pyc